

<div class="container">
  <div class="row sign_up">
    <p class="devide_content">ユーザーアカウント作成</p>

    <p class="devide_content">新規ユーザーアカウント登録ページです。</p>

    <p class="devide_content">下記項目をご入力頂くと、会員登録は完了です。</p>

    <p class="devide_content">お手数ですが、空欄を作らずご入力ください。</p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="avator-image">
      <%= image_tag 'noimage.png', id: 'preview', width: '150px' %>
    </div>
    <%= f.attachment_field :avator_image, id: "myImage" %>

    <!-- プレビュー機能 -->
    <script>
      $('#myImage').on('change', function (e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#preview").attr('src', e.target.result);
        }
      reader.readAsDataURL(e.target.files[0]);
        });
    </script>

  <div class="devise_item">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :introduction %><br />
        <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  <div>
</div>