<table class="table table-hover table-inverse">
    <thead>
        <tr class="active">
            <th></th>
            <th>プロフィール写真<th>
            <th>氏名</th>
            <th>自己紹介</th>
        </tr>
    </thead>

    
        <% users.each do |user| %>
        <tbody>
            <tr>
                <td>
                <td><%= link_to user_path(user) do %>
                        <%= attachment_image_tag user, :avator_image, fallback: "noimage.png", size:"100x100" %>
                    <% end %>
                </td>
                <td></td>
                <td>
                    <%= link_to user_path(user) do %>
                        <%= user.name %>
                    <% end %>
                </td>
                <td><%= user.introduction %></td>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>