<div class="container">
	<div class="row">
            <h2><%= @user.name %>さんのユーザー編集</h2>

            <!-- エラー文 -->
		<% if @user.errors.any? %>
            <h2><%= @user.errors.count %>件のエラーが発生しました。</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
        <!-- エラー文 -->

        <%= form_for(@user, url:"/users/#{@user.id}") do |f| %>
            <!--プロフィール写真 -->
            <div class="row form-interval">
				<label class="col-lg-2">プロフィール写真</label>
				<div class="col-lg-10">
                    <div class="edit_avator_image">
                        <%= attachment_image_tag @user, :avator_image, fallback: "noimage.png",id: 'preview', size:"300x250" %>
                    </div>
                    <%= f.attachment_field :avator_image, id: "myImage" %>
					<%= @user.avator_image %>
				</div>
			</div>

            <!-- プレビュー機能 -->
            <script>
                $('#myImage').on('change', function (e) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#preview").attr('src', e.target.result);
                }
                reader.readAsDataURL(e.target.files[0]);
                    });
            </script>

            <!-- ユーザー名フォーム -->
			<div class="row form-interval">
                <label class="col-lg-2">ユーザー名</label>
                <div class="col-lg-2">
                    <%= f.text_field :name %>
                </div>
            </div>
            <!-- ユーザー名フォーム -->

            <div class="row form-interval">
                <label class="col-lg-2">自己紹介</label>
                <div class="col-lg-3">
                    <%= f.text_field :introduction %>
                </div>
            </div>

            <div class="row form-interval">
                <%= f.submit "変更を保存", class:"btn btn-primary" %>
            </div>
		<% end %>
	</div>
</div>