<div class="container">
	<div class="row">
	<!-- ユーザー一覧 -->
		<h2>ユーザー一覧</h2>
		<div class="col-xs-7 ">
			<table class="table table-hover table-inverse">

				<thead>
					<tr class="active">
                        <th>プロフィール写真<th>
						<th>氏名</th>
						<th>自己紹介</th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
						<tr>
                            <td><%= link_to user_path(user) do %>
									<%= attachment_image_tag user, :avator_image, fallback: "noimage.png", size:"100x100" %>
								<% end %>
                            </td>
							<td>
								<%= link_to user_path(user) do %>
									<%= user.name %>
								<% end %>
							</td>
							<td><%= user.introduction %></td>
                        </tr>
                    <% end %>
				</tbody>
			</table>
        </div>
	
	<!-- ランキング -->
		<div class="col-xs-2">
			<div class="row event_ranking">
				<div class="ranking-title"><strong>人気投稿ランキング</strong></div>
					<ul class="list_crown">
					<% @all_ranks.each.with_index(1) do |rank, i| %>
					<li>
						<%= link_to event_path(rank) do %>
							第<%= i %>位<br>
							<%= rank.title %>
						<% end %>
					</li>
				<% end %>
			</div>   
		</div>

		<!-- DM -->
		<div class="col-xs-2">
			<div class="row">
			<h1>DMユーザー一覧</h1>
			<% if user_signed_in? %>
			<h2>Hello <%= current_user.name %></h2>
				<% @users.each do |u| %>
				<p><a href="/users/<%= u.id %>"><%= u.name %>さん</a></p>
				<hr>
				<% end %>
				<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "ユーザーを登録する", new_user_registration_path %>
				<br>
				<%= link_to "ログインする", new_user_session_path %>
			<% end %>
			</div>   
		</div>
	</div>
</div>