	
	<% if user_signed_in? %>
	<div class="row">
		<h2 class="user_index_title">ユーザー一覧</h2>
		<div class="col-xs-7 user_index_item">
			<%= render 'users/index', users: @users %>
				<%= paginate @users %>
        </div>

		<!-- DM -->
		<div class="col-xs-2 user_dm">
			<div class="row">
				<div class="user_dm_index">
				<h1>DMユーザー一覧</h1>
					<% @users.each do |u| %>
					<p class="user_dm_name"><a href="/users/<%= u.id %>"><%= u.name %>さん</a></p>
					<hr>
					<% end %>
					<%= paginate @users %>
		<% else %>
		<% end %>

			</div>   
		</div>
	</div>