<div class="container">
	<div class="row">
            <h2><%= @user.name %>さんのユーザー詳細</h2>
		<p id="notice"><%= notice %></p>
		<table>
			<tbody>
                <tr>
					<td class="users_interval">プロフィール写真</td>
                    <td class="users_interval"><%= @user.avator_image %></td>
                <tr>
				<tr>
					<td class="users_interval">ユーザー名</td>
                    <td class="users_interval"><%= @user.name %></td>
                <tr>
                <tr>
					<td class="users_interval">メールアドレス</td>
                    <td class="users_interval"><%= @user.email %></td>
                <tr>
            </tbody>
		</table>
        <%= link_to "編集する" ,edit_user_path(@user), class: "btn btn-primary admin_customers_link" %>
        <%= link_to '削除する', user_path(@user.id), method: :delete, "data-confirm" =>"本当に削除しますか？", class: "btn btn-danger"%>
    </div>
</div>