
<div class="col-md-10 event_flex">
    <% events.each do |event| %>
    
        <div class ="event-box">
            <div class="col-md-9">
                    <%= link_to event_path(event) do %>
                        <%= attachment_image_tag event, :image, :fill, 450, 350, format: 'jpeg' %>
                    <% end %>
                    タイトル<p class="event_item"><a href ="/events/<%= event.id %>"><%= event.title %></a></p>
                    日程<p class="event_item"><%= event.event_date %></p>
                    開始時刻<p class="event_item"><%= event.open_hour %>時<%= event.open_minute %>分</p>
                    終了時刻<p class="event_item"><%= event.end_hour %>時<%= event.end_minute %>分</p>
                    内容<p class="event_item"><%= event.body %></p>
                    募集要項<p class="event_item"><%= event.recruitment %></p>
            
                    <p id ="likes_buttons_<%= event.id %>">
                        <%= render 'favorites/favorites', event: event %>
                    </p>
                    <p>
                        コメント数：
                            <%= event.comments.count %>
                    </p>
            </div>
        </div>
    <% end %>

    <!-- ランキング -->
    <div class="event_ranking">
        <div class="ranking-title"><strong>人気投稿ランキング</strong></div>
            <ul class="list_crown">
                <% @all_ranks.each.with_index(1) do |rank, i| %>
                    <li>
                        <%= link_to event_path(rank) do %>
                            第<%= i %>位<br>
                            <%= rank.title %>
                        <% end %>
                    </li>
                    <p>
                    いいね数：
                        <%= @event.favorites.count %>
                    </p><br>
                <% end %>
            </ul>
    </div>
</div>