<div class="col-md-10 event_flex">
    <% events.each do |event| %>
    
        <div class ="event-box">
            <div class="col-md-9">
                    <%= link_to event_path(event) do %>
                        <%= attachment_image_tag event, :image, :fill, 450, 350, format: 'jpeg' %>
                    <% end %>
                    <div class="row"><a href ="/events/<%= event.id %>"><%= event.title %></a></div>
                    <div class="row"><%= event.event_date %></div>
                    <p><%= event.event_hour %><%= event.event_minute %></p>
                    <div class="row"><%= event.body %></div>
                    <div class="row"><%= event.recruitment %></div>
            
                    <p id ="likes_buttons_<%= event.id %>">
                        <%= render 'favorites/favorites', event: event %>
                    </p>
                    <p>
                        コメント数：
                            <%= event.comments.count %>
                    </p>
            </div>
        </div>
    <% end %>
</div>