<div class="container">
    <div class="row">イベント新規登録</div>
        <div class='row'>
            <% if @event.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@event.errors.count, "error") %> 保存に失敗しました。</h2>
            <% end %>
                <div class="row">
                    <%= form_with model:@event, url: events_path, local: true do |f| %>
                        <%#= render "error_messages", event @event %>
                        <div class="col-lg-4 col-lg-offset-1">
                            <div class="item-image">
                                <%= attachment_image_tag @event, :image, fallback: "noimage.png", size:"300x200" %>
                            </div>
                            <%= f.attachment_field :image %>
                        </div>
                            <div class="col-lg-3 col-lg-offset-1" >
                            <div class="row form-interval">
                                <%= f.label :タイトル%>
                                <%= f.text_field :title %>
                            </div>
                            <div class="row form-interval">
                                <%= f.label :日程%>
                                <%= f.date_select :event_date, 
                                    {
                                    :order => [:day, :month, :year], 
                                    :start_year => 2020, 
                                    :end_year => 2025,
                                    :use_month_numbers => true 
                                    }, 
                                    {:class => "input-mini"}  %>
                            </div>
                            <div class="row form-interval">
                                <%= f.label :時間 %>
                                <%= f.text_area :event_hour %><%= f.text_area :event_minute %>
                            </div>
                            <div class="row form-interval">
                                <%= f.label :イベント内容 %>
                                <%= f.text_area :body %>
                            </div>
                            <div class="row form-interval">
                                <%= f.label :募集要項 %>
                                <%= f.text_area :recruitment %>
                            </div>
                            <div class="row form-interval">
                                <%= f.label :ジャンル %>
                                <%= f.select :genre_id, {'異業種交流会': 1, '飲み会': 2, '街コン': 3, 'セミナー': 4, '勉強会': 5, '趣味会': 6, '読書会': 7, 'もくもく会': 8}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
                            </div>

                            <div class="row new_event_submit">
                                <%= f.submit "新規登録", class: "btn btn-primary btn-lg" %>
                            </div>
                        </>
                    <% end %>
                </div>
</div>