<div class="container">
    <h3>イベント詳細</h3>
        <div class="row">
            <div class="col-lg-5">
                <%= attachment_image_tag @event, :image, :fill, 300, 200, format: 'jpeg' %>
            </div>

            <div class= "col-lg-5">
                <div class="row">
                    <div class="col-xs-4">イベント名</div>
                    <div class="col-xs-6"><%= @event.title %></div>
                </div>
                <div class="row">
                    <div class="col-xs-4">商品説明</div>
                    <div class="col-xs-6"><%= @event.body %></div>
                </div>
                <div class="row">
                    <div class="col-xs-4">ジャンル</div>
                    <div class="col-xs-6"><%#= @event.genre.name %></div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-3 event_button">
                <%= link_to '編集する', edit_event_path(@event), class: "btn btn-primary" %>
                <%= link_to '削除する', event_path(@event.id), method: :delete, "data-confirm" =>"本当に削除しますか？", class: "btn btn-danger"%>
            </div>
        </div>
</div>