<div class="row event_all">
    <h3 class="event_show_title" >イベント詳細</h3>
        <div class="col-sm-5 event_show_left">
            <%= attachment_image_tag @event, :image, :fill, 420, 320, format: 'png' %>
        </div>
        <!-- イベント詳細項目-->
        <div class="col-sm-6 event_show_item">
            <div class="row event_show_right">
                <div class="row" >
                    <div class="col-xs-3 event_show_heading">投稿者名</div>
                    <div class="col-xs-6"><%= @event.user.name %></div>
                </div>
                <div class="row" >
                    <div class="col-xs-3 event_show_heading">イベント名</div>
                    <div class="col-xs-6"><%= @event.title %></div>
                </div>
                <div class="row" >
                    <div class="col-xs-3 event_show_heading">日程</div>
                    <div class="col-xs-6"><%= @event.event_date %></div>
                </div>
                <div class="row" >
                    <div class="col-xs-3 event_show_heading">開始時間</div>
                    <div class="col-xs-6"><%= @event.open_hour %>時<%= @event.open_minute %>分</div>
                </div>
                <div class="row" >
                    <div class="col-xs-3 event_show_heading">終了時間</div>
                    <div class="col-xs-6"><%= @event.end_hour %>時<%= @event.end_minute %>分</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 event_show_heading">内容</div>
                    <div class="col-xs-6"><%= @event.body %></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 event_show_heading">募集要項</div>
                    <div class="col-xs-8"><%= @event.recruitment %></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 event_show_heading">ジャンル</div>
                    <div class="col-xs-6"><%= @event.genre.name %></div>
                </div>
            </div>
        </div>
        <!-- コメント -->
        <div class="event_comment">
            <div class="event_comment_layout">
                <div id="comment_<%= @event.id %>"><br>
                    <%= render 'comments/comments', comments: @comments %>
                </div>
                <%= form_for [@event, @comment] , remote: true do |f| %>
                    <%= f.text_area :comment,placeholder: " コメントを入力してください",  size: '50x7', class:"comment_form" %>
                    <div class="comment_button"><%= f.submit '送信', class: "btn_gradient_orange btn-md"   %></div>
                <% end %>
            </div>
            <!-- 編集、削除ボタン -->
            <div class="row ">
                <div class="col-lg-7 event_show_button">
                    <%if current_user.id == @event.user.id %>
                        <%= link_to '編集', edit_event_path(@event), class: "btn_gradient_blue btn-md" %>
                    <% end %>
                    <%if current_user.id == @event.user.id %>
                        <%= link_to '削除', event_path(@event.id), method: :delete, "data-confirm" =>"本当に削除しますか？", class: "btn_gradient_red btn-md"%>
                    <% end %>
                </div>
            </div>
        <div>
</div>


